.actions > input {
    border: 1px solid teal;
    background: white;
    padding: 5px;
    margin-right: 5px;
}

.actions > input:hover {
    background: #0facf8;
    cursor: pointer;
}

.order_list.selected {
    background: grey;

}

.order_list.selected .input {
    pointer-events: none;
}